a#huntTitle { 
	font-family: 'Dancing Script', cursive;
	font-size: 72px;
	color: white;
}

.editableInput {
	height: 10%;
	font-size: 32px;
	width: 700px !important;
}

.editable-buttons {
	display: none !important;
}

#map {
	margin-top: 30px;
    width: 35%;
    height: 60%;
}

#list {
	margin-top: 30px;
    width: 35%;
    height: 60%;
    overflow-y: auto;
}

#btngrp {
	padding-top: 30px;
}

.btnclass {
	width: 15%;
	height: 10%;
	font-size: 28px;
	margin: 10px;
}

li {
	padding: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
}