#mapdisplay {
	margin-top: 30px;
    width: 35%;
    height: 60%;
}

#list {
	margin-top: 30px;
    width: 35%;
    height: 60%;
    overflow-y: auto;
}

#btngrp {
	padding-top: 30px;
}

.btnclass {
	height: 10%;
	font-size: 28px;
	margin: 10px;
	vertical-align: middle;
}

li {
	padding: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
}