html { 
	background: url('../Images/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html body {
    background-color: transparent;
}

h1 { 
	font-family: 'Dancing Script', cursive;
	font-size: 72px;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
}

.blackTransbg {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

.rounded {
    border-radius: 10px;
}

.userimage {
	height: 10%;
	padding: 10px;
}

.slightlycentered {
	margin-right: 2%;
	margin-left: 2%;
}