html { 
	background: url('../Images/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html body {
    background-color: transparent;
}

h1 { 
	font-family: 'Dancing Script', cursive;
}

.blackTransbg {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

.rounded {
    border-radius: 10px;
}
