<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/treasurehunt</property>
		<property name="hibernate.connection.username">mohameddd</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="hibernate.models.entities.User"/>
		<mapping class="hibernate.models.entities.Coordinate"/>
		<mapping class="hibernate.models.entities.Message"/>
		<mapping class="hibernate.models.entities.Hunt"/>
		<mapping class="hibernate.models.entities.Friend"/>
		<mapping class="hibernate.models.entities.Hunter"/>
		<mapping class="hibernate.models.entities.Message"/>
		<mapping class="hibernate.models.embeddable.R_Friendship"/>
		<mapping class="hibernate.models.embeddable.R_Messaging"/>
		<mapping class="hibernate.models.embeddable.R_Hunting"/>
	</session-factory>
</hibernate-configuration>