<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">lyix_m38ZHebXCviMyxWgXK86X</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-54-83-25-238.compute-1.amazonaws.com:5432/dba5o9q74b8uvr</property>
		<property name="hibernate.connection.username">kqdalmnmhjefld</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">false</property>

		<mapping class="hibernate.models.entities.User"/>
		<mapping class="hibernate.models.entities.Coordinate"/>
		<mapping class="hibernate.models.entities.Message"/>
		<mapping class="hibernate.models.entities.Hunt"/>
		<mapping class="hibernate.models.entities.Friend"/>
		<mapping class="hibernate.models.entities.Hunter"/>
		<mapping class="hibernate.models.entities.Message"/>
		<mapping class="hibernate.models.embeddable.R_Friendship"/>
		<mapping class="hibernate.models.embeddable.R_Messaging"/>
		<mapping class="hibernate.models.embeddable.R_Hunting"/>
	</session-factory>
</hibernate-configuration>
